--- 
# the page title 
title: Lolita Godefroy - Psychologue Énergéticienne
# the page description 
description:  > # this means to ignore newlines until the next tag
  "Optez pour des technologies modernes et efficaces au service de votre commerce, à la façon d'Aubaine." 

# the page title to be shared on social media 
social_title: Lolita Godefroy - Psychologue Énergéticienne

# the page description to be shared on social media 
social_description: > # this means to ignore newlines until the next tag
  "Optez pour des technologies modernes et efficaces au service de votre commerce, à la façon d'Aubaine."

sitemap: 
  priority: 1.0 
  lastmod: 2017-04-02T00:00:00-00:00 
---

<!-- The header -->
{% include header.html %}

<!-- home page start -->
{% include home_screen/home.html %}

<!-- page wrapper start -->
<div class="page-wrapper">

    <!-- Services section -->
    {% include home_screen/services.html %}

    <!-- Facts section -->

    <!-- Works section -->

    <!-- Testimonials section -->

    <!-- Contact us section -->
    {% include home_screen/contact.html %}


</div>