--- 
page_url: /
# the page title 
title: Lolita Godefroy - Psychologue & Praticienne Reiki
# the page description 
description:  > # this means to ignore newlines until the next tag
  "Psychothérapie et Soins Reiki pour adultes, adolescents et enfant sur Toulouse." 

# the page title to be shared on social media 
social_title: Lolita Godefroy - Psychologue & Praticienne Reiki

# the page description to be shared on social media 
social_description: > # this means to ignore newlines until the next tag
  "Psychothérapie et Soins Reiki pour adultes, adolescents et enfant sur Toulouse."

sitemap: 
  priority: 1.0 
  lastmod: 2017-04-02T00:00:00-00:00 
---

<!-- The header -->
{% include header.html %}

<!-- home page start -->
{% include home_screen/home.html %}

<!-- page wrapper start -->
<div class="page-wrapper">

    <!-- general section -->
    {% include home_screen/general.html %}

    <!-- Facts section -->

    <!-- Works section -->

    <!-- Pricing section -->
    {% include home_screen/pricing.html %}

    <!-- Testimonials : html is ready just add home_screen/testimonials.html -->

    <!-- Contact us section -->
    {% include home_screen/contact.html %}


</div>