<!-- Tutorial to make contact form : https://github.com/dwyl/learn-to-send-email-via-google-script-html-no-server -->
<!-- contact form start -->
<!-- class="hidden-elt" -->
<div id="contact-form" >
    <form id="form" method="post" name="send" action="https://script.google.com/macros/s/AKfycbz_rYiSMsAzjbNjxYA6ADhjjP6grOu1g6ZlQHx3cvAN3xOft_xFAS0tffvWmTjx3uj44w/exec">
        <div class="col-md-4">
            <input class="requiredField name" id="name" name="name" placeholder="Nom" type="text">
        </div>
        <div class="col-md-4">
            <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="col-md-4">
            <input class="requiredField phone" id="phone" name="phone" placeholder="Téléphone" type="text">
        </div>

        <div class="make-space">
            <input class="requiredField subject" id="subject" name="subject" placeholder="Sujet (prise de rdv, demande de renseignement, ...)" type="text">
        </div>
        <div class="make-space">
            <textarea class="requiredField message" id="message" name="message" placeholder="Votre message"></textarea>
        </div>

        <!-- The loader to be shown while sending the message -->
        <div
            class="contact-loader loader">
            <span></span>
        </div>
        
        <div>
            <!-- Hidden button to submit the form -->
            <button
                class="hidden-elt"
                id="contact-submit-button"
                type="submit">
            </button>
        </div>

    </form>

    <!-- Displayed button to validate the captcha before submittin the form -->
    <button 
        data-sitekey="6LeQ58UZAAAAABfkIeJfE4CdIJDiuRSF3Vs0tm-0" 
        data-callback='onSubmit' 
        data-action='submit'
        class="submit-button contact-submit-button g-recaptcha" 
        id="send-contact-button"
        type="button">
        Envoyer
    </button>

</div>
<!-- contact form end -->