<!-- contact page start -->
<div class="section section-contact" id="contact">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Contact
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">N'hésitez pas à me contacter pour toute question ou demande de rendez-vous</span><br>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row contact-information">
                <div class="footer-contact-block">
                    <!-- col center start -->
                    <div class="col-md-4 col-sm-6 contact-elt">
                        <!-- contact details start -->
                        <span class="footer-contact-block-label">Téléphone:</span> <a class="contact-elt-text" href="tel:+33783767285">07 83 76 72 85</a>
                        <!-- contact details end -->
                    </div>
                    <!-- col center end -->
                    <!-- col right start -->
                    <div class="col-md-4 col-sm-6 contact-elt">
                        <!-- contact details start -->
                        <span class="footer-contact-block-label">Email:</span> <a class="contact-elt-text" href="mailto:lolita.godefroy@gmail.com">lolita.godefroy@gmail.com</a>
                        <!-- contact details end -->
                    </div>
                    <!-- col right end -->
                    <!-- col right start -->
                    <div class="col-md-4 col-sm-6 contact-elt">
                        <!-- contact details start -->
                        <span class="footer-contact-block-label">Adresse:</span>
                        <a class="contact-elt-text" 
                            href="https://www.google.com/maps/place/99+Av.+Jacques+Douzans,+31600+Muret/@43.4651752,1.325764,19z/data=!3m1!4b1!4m6!3m5!1s0x12aec9cd155d0c2f:0xf6fee5fd363e4278!8m2!3d43.4651742!4d1.3264091!16s%2Fg%2F11cncqtz94?entry=ttu"
                            target="_blank">
                            99 Avenue Jacques Douzans, 31600 Muret
                            <br/>
                            Au premier étage sans ascenseur
                            <br/>
                            Environ 5mn à pieds de la gare de Muret
                            <br/>
                            <span class="footer-contact-block-link">Afficher sur la carte <i class="fa fa-map-marker"></i></span>
                        </a>
                        <!-- contact details end -->
                    </div>
                    <!-- col right end -->
                </div>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row contact-form-container">
                <!-- contact form start -->
                <!-- include home_screen/contact-form.html -->
                <!-- Home footer -->
                {% include home_screen/home-footer.html %}


            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </div>
    <!-- contact page end -->
</div>
