<!-- general page start -->
<div class="section section-general" id="general">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <!-- <div class="row alt">
            <h2 class="section-title">
                Présentation
            </h2>
        </div> -->
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle general-section-subtitle">
                <span class="quote-mark-l fa fa-quote-left"></span>
                <span class="section-all-subtitle-first">La porte du changement ne peut s'ouvrir que de l'intérieur</span>
                <span class="quote-mark-r fa fa-quote-right"></span>
                <div class="section-all-subtitle-author"><span>Jacques Salomé</span></div>
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col left start -->
            <div
                class="col-md-6 general-hover"
                data-toggle="modal"
                data-target="#presentation"
                title="Présentation">
                <div class="general-img-container">
                    <img alt="Qui suis-je?" src="assets/img/general/presentation.png">
                </div>
                <h3 class="general-title">
                    Qui suis-je?
                </h3>
                <div class="general-description">
                    Aussi loin que je me souvienne, je me suis toujours intéressée aux autres, à chaque personne
                    rencontrée et à son histoire singul...
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 general-hover general-move-down"
                title="Un psy: pour qui? quand?"
                data-toggle="modal"
                data-target="#audiance">
                <div class="general-img-container">
                    <img alt="Un psy: pour qui? quand?" src="assets/img/general/psy.png">
                </div>
                <h3 class="general-title">
                    Un psy: pour qui? quand?
                </h3>
                <div class="general-description">
                    Le chemin de vie de tout individu est jonché d'événements, d'obstacles, de peurs qui peuvent engendrer
                    un manque de conf...
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div 
                class="col-md-6 general-hover"
                title="Approche"
                data-toggle="modal"
                data-target="#approche">
                <div class="general-img-container">
                    <img alt="reiki" src="assets/img/general/approche.jpg">
                </div>
                <h3 class="general-title">
                    Une approche douce et globale
                </h3>
                <div class="general-description">
                    Nous sommes à la fois Corps, Pensée et Émotion. Les trois composantes de ce système complexe
                    doivent être équili...
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div 
                class="col-md-6 general-hover general-move-down"
                title="Reiki"
                data-toggle="modal"
                data-target="#reiki">
                <div class="general-img-container">
                    <img alt="reiki" src="assets/img/general/reiki.png">
                </div>
                <h3 class="general-title">
                    le Reiki
                </h3>
                <div class="general-description">
                    REI pour l’énergie vitale universelle et KI pour notre propre énergie vitale. Cette dernière prend...
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div
                class="col-md-6 general-hover"
                title="EFT"
                data-toggle="modal"
                data-target="#eft">
                <div class="general-img-container">
                    <img alt="reiki" src="assets/img/general/eft.png">
                </div>
                <h3 class="general-title">
                    L'EFT
                </h3>
                <div class="general-description">
                    Technique de librération émotionnelle: Cette pratique psycho énergétique vise à rééquilibrer le système énergétique...
                </div>
            </div>
            <!-- col left end -->
             <!-- col right start -->
             <div 
                class="col-md-6 general-hover general-move-down"
                title="visualisation"
                data-toggle="modal"
                data-target="#visualisation">
                <div class="general-img-container">
                    <img alt="visualisation" src="assets/img/general/visualisation.png">
                </div>
                <h3 class="general-title">
                    Soin énergétique par la visualisation
                </h3>
                <div class="general-description">
                    Avec cette approche, je vous accompagne dans un voyage en vous même à la découverte de votre inconscient...
                </div>
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->

    <!-- List of modals start -->
    <!-- Presentation modal start -->
    {% include home_screen/modals/presentation.modal.html %}
    <!-- Presentation modal end -->
    <!-- Audiance modal start -->
    {% include home_screen/modals/audiance.modal.html %}
    <!-- Audiance modal end -->
    <!-- Approche modal start -->
    {% include home_screen/modals/approche.modal.html %}
    <!-- Approche modal end -->
    <!-- Reiki modal start -->
    {% include home_screen/modals/reiki.modal.html %}
    <!-- Reiki modal end -->
    <!-- Eft modal start -->
    {% include home_screen/modals/eft.modal.html %}
    <!-- Eft modal end -->
    <!-- visualisation modal start -->
    {% include home_screen/modals/visualisation.modal.html %}
    <!-- visualisation modal end -->

    <!-- List of modals end -->
</div>
<!-- general page end -->
