<!-- home page start -->
<div class="home-page light-logo">
    <!-- hero bg start -->
    <div class="hero-fullscreen">
        <!-- ken burns image slideshow start -->
        <div class="kenburns-slide-wrapper">
            <div class="kenburns-slide kenburns-slide-1"></div>
        </div>
        <!-- ken burns image slideshow end -->
    </div>
    <!-- hero bg end -->
    <!-- home page overlay start -->
    <div class="home-page-overlay"></div>
    <!-- home page overlay end -->
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block home-page-title-container">
            <h1 class="home-page-title">
                Lolita Godefroy
            </h1>


            <div class="value-proposition-container">

                <h1 class="value-propostion-p1">
                    Psychologue Clinicienne & Praticienne Soins Énergétiques à Toulouse
                </h1>

                <!-- TODO : à remettre quand on a le wording <div class="home-page-subtitle-carousel owl-carousel">
                    <h2 class="home-page-title">
                        <a>Je te Réikise tu vas voir</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Wesh! Et l'energie je t'en remet</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Un problème avec votre enfant! Je vous en débarasse. Du problème pas de l'enfant</a>
                    </h2>
                </div> -->

            </div>

            <!-- Call to action buttons -->
            <div class="call-to-action-container row">

                <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

                <!-- Ask for estimate -->
                <div
                    class="col-sm-6 col-md-6 col-xs-6 site-col-xs-12">
                    <div class="ask-for-estimate-container">
                        <a 
                            title="Prendre rendez-vous"
                            id="askForRdv"
                            href="https://www.doctolib.fr/psychologue/toulouse/godefroy-lolita?utm_campaign=website-button&amp;utm_source=godefroy-lolita-website-button&amp;utm_medium=referral&amp;utm_content=option-3&amp;utm_term=godefroy-lolita"
                            target="_blank"
                            class="make-appointment-link">
                            <h3 class="make-appointment-text">Prendre RDV</h3>
                            <img
                                class="doctolib-img"
                                src="assets/img/doctolib-white-transparent.png"
                                alt="Prendre rendez-vous Doctolib"/>
                        </a>
                    </div>
                </div>

                <!-- Learn more -->
                <div
                    class="col-sm-6 col-md-6 col-xs-6 site-col-xs-12">
                    <div class="learn-more-container">
                        <a class="" href="" title="Demander un devis" style="" data-scroll-to="general" href="#">
                            <h3 class="">En Savoir <i class="fa fa-plus"></i></h3>
                        </a>
                    </div>
                </div>

            </div>


        </div>
        <!-- center block end -->
    </div>
    <!-- center container end -->
</div>
