<!-- row start -->
<div class="row final-lift">
    <div class="section-content">
        <!-- social icons footer start -->
        <div class="social-icons-footer-wrapper">
            <ul class="social-icons-footer">
                <!-- <li>
                    <a class="fa fa-twitter" href="https://twitter.com/todo" target="_blank"></a>
                </li>-->
                <li class="social-icon">
                    <a class="fa fa-facebook" href="{{site.social_links.facebook}}" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a class="fa fa-instagram" title="instagram" href="{{site.social_links.instagram}}" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a 
                            title="Prendre rendez-vous"
                            id="doctolibFooterImg"
                            href="https://www.doctolib.fr/psychologue/toulouse/godefroy-lolita?utm_campaign=website-button&amp;utm_source=godefroy-lolita-website-button&amp;utm_medium=referral&amp;utm_content=option-3&amp;utm_term=godefroy-lolita"
                            target="_blank"
                            class="make-appointment-link">
                        <img
                            class="doctolib-img"
                            src="assets/img/doctolib-white-transparent.png"
                            alt="Prendre rendez-vous Doctolib"/>
                    </a>
                </li>
            </ul>
        </div>
        <!-- social icons footer end -->
        <div class="lineOT-footer"></div>
        <!-- copyrights start -->
        <div class="copy">
            <a href="https://www.linkedin.com/in/haythem-ouederni-16598977/" target="_blank">&copy; {{site.author}} {{ site.time | date: '%Y' }}</a>
        </div>
        <!-- copyrights end -->
    </div>
</div>
<!-- row end -->