<!-- row start -->
<div class="row final-lift">
    <div class="section-content">
        <!-- social icons footer start -->
        <!-- <div class="social-icons-footer-wrapper">
            <ul class="social-icons-footer">
                <li>
                    <a class="fa fa-twitter" href="https://twitter.com/todo" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a class="fa fa-facebook" href="https://www.facebook.com/todo/" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a class="fa fa-instagram" href="https://www.instagram.com/todo/" target="_blank"></a>
                </li>
            </ul>
        </div> -->
        <!-- social icons footer end -->
        <div class="lineOT-footer"></div>
        <!-- copyrights start -->
        <div class="copy">
            <a href="https://www.linkedin.com/in/haythem-ouederni-16598977/" target="_blank">&copy; Haythem OUEDERNI {{ site.time | date: '%Y' }}</a>
        </div>
        <!-- copyrights end -->
    </div>
</div>
<!-- row end -->