<!-- pricing page start -->
<div class="section section-pricing" id="pricing">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Tarifs
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Informations pratiques: Séances et Tarifs</span><br>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row pricing-information">
                <div class="footer-pricing-block">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Psychothérapie pour Adultes et Adolescents</h3>
                                    </div>
                                    <p><span>Premier rendez-vous:</span> 1h</p>
                                    <p><span>Séance classique:</span> 45mn</p>
                                    <p><span>Tarif:</span> 40 euros</Table></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Psychothérapie pour Enfants</h3>
                                    </div>
                                    <p><span>Premier rendez-vous:</span> 45mn</p>
                                    <p><span>Séance classique:</span> 30mn</p>
                                    <p><span>Tarif:</span> 40 euros</Table></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Réiki</h3>
                                    </div>
                                    <p><span>Séance classique:</span> 1h</p>
                                    <p><span>Tarif:</span> 50 euros</Table></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- pricing page end -->
