<!-- pricing page start -->
<div class="section section-pricing" id="pricing">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Tarifs
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Informations pratiques: Séances et Tarifs</span><br>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row pricing-information">
                <div class="footer-pricing-block">
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- pricing page end -->
