<!-- pricing page start -->
<div class="section section-pricing" id="pricing">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Tarifs
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Informations pratiques: Séances et Tarifs</span><br>
            </div>
            <!-- row end -->
            <!-- row start -->
            <div class="row pricing-information">
                <div class="footer-pricing-block">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Psychothérapie pour Adultes</h3>
                                    </div>
                                    <p><span>Premier rendez-vous<sup>(1)</sup>:</span> environ 1h20</p>
                                    <p><span>Séance classique:</span> 1h</p>
                                    <p><span>Tarif:</span> 50 euros</Table></p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Psychothérapie pour Enfants</h3>
                                    </div>
                                    <p><span>Premier rendez-vous<sup>(1)</sup>:</span> 45mn</p>
                                    <p><span>Séance classique:</span> 30mn</p>
                                    <p><span>Tarif:</span> 50 euros</Table></p>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="header-container">
                                        <h3>Soins Énergétiques</h3>
                                    </div>
                                    <p><span>Séance classique:</span> 1h-1h30</p>
                                    <p><span>Tarif:</span> 80 euros</Table></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
        <p>
            (1) : Le premier rendez-vous est un temps de rencontre spécifique. La fréquence des séances sera déterminée ensemble et réévaluée au besoin et au fur et à mesure de votre cheminement.
        </p>
        <p>
            - Tout ce qui sera dit au sein de la séance est tenu au secret professionnel selon le code de déontologie des psychologues.
        </p>
        <p>
            - Possibilité également de consultation à domicile pour les personnes à mobilité réduite.
        </p>
        <p>
            NB: Toute séance annulée moins de 24h à l’avance sera due, sauf cas d’exception.
        </p>
    </div>
    <!-- container end -->
</div>
<!-- pricing page end -->
