<div class="modal fade modals-common" 
  id="absence" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="infoCovidModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="infoCovidModalLabel">Information</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Actuellement en congé maternité, je ne saurai répondre aux demandes de rendez-vous.
            </p>
            <p>
              Les informations concernant ma reprise seront mises à jour en temps voulu.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>