<div class="modal fade modals-common" 
  id="approche" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="approcheModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="approcheModalLabel">Une approche Douce et Globale</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Nous sommes à la fois Corps, Pensée et Émotion. Les trois composantes de ce système complexe
              doivent être équilibrées pour que nous soyons épanouis. Aussi, je porte un regard global sur la personne
              que j'accueille. Dans une approche tout en douceur, le temps d'une séance, je mets à votre service ma
              bienveillance, ma présence et mon écoute de façon pleine et entière. J’accueille votre parole, vos
              silences, vos états d’âme et vos ressentis sans jugement, comme cela se présente.
            </p>
            <p>
              Je vous propose d’écouter, d’observer ensemble vos émotions et les difficultés que vous traversez afin
              de les comprendre, les intégrer, puis les dépasser à votre rythme. Mon rôle en tant que psychologue
              n’est pas d’apporter toutes les réponses mais plutôt de vous permettre de cultiver vos propres
              ressources, de prendre conscience de vos forces uniques et des outils dont vous disposez, qui vous
              permettront de dépasser les difficultés que vous rencontrez.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>