<div class="modal fade modals-common" 
  id="approche" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="approcheModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="approcheModalLabel">Une approche Douce et Globale</h1>
            </div>
          </div>
          <div class="modal-body">
              Approche je t'éclate les problèmes
              <br>
              <br>
              verticalAlignment=""
              Je Lolita et je suis la plus forte weshv

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              <br>
              <br>
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh

              verticalAlignment=""
              Je Lolita et je suis la plus forte weshv

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh

              verticalAlignment=""
              Je Lolita et je suis la plus forte weshv

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh

          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>