<div class="modal fade modals-common" 
  id="audiance" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="audianceModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="audianceModalLabel">Un PSY: Pour qui? Quand?</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Le chemin de vie de tout individu est jonché d'événements, d'obstacles, de peurs qui peuvent engendrer
              un manque de confiance en soi, un mal-être, des angoisses, ou toutes autres choses qui pourraient vous
              gêner, vous faire souffrir dans votre quotidien. Tout cela a des répercussions importantes sur vous-
              mêmes et sur vos relations, qu'elles soient familiales, amicales ou professionnelles.
            </p>
            <p>
              Ainsi, mes consultations sont ouvertes à tous pour vous accompagner dans les périodes de
              changement, de crises, de souffrance ou d’introspection. Je vous propose de regarder cela ensemble
              afin de vous inscrire dans un processus de mieux-être et d’avoir une meilleure compréhension de vous-
              mêmes.
            </p>
            <p>
              Il est vrai que prendre rendez-vous avec une personne inconnue pour parler de soi peut être une
              démarche difficile et pourtant, seule une personne extérieure à votre vie pourra porter un regard neutre à
              votre situation, vous écouter sans a priori et vous guider au mieux. Cet anonymat, c'est aussi l'assurance
              de la confidentialité qui vous permettra d'exprimer sans frein tout ce que vous souhaitez.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>