<div class="modal fade modals-common eft-modal" 
  id="eft" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="eftModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="eftModalLabel">L'EFT</h1>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <p class="eft-signification">
                <b>EFT</b>: <i>emotionnal freedom technique</i> ou <i>technique de librération émotionnelle</i>
              </p>
              <p>
                Cette pratique psycho énergétique vise à rééquilibrer le système énergétique d’une personne en
                tapotant doucement certains points de la tête et du buste selon les savoirs ancestraux de la
                médecine chinoise. Ainsi, cette méthode permet la libération des émotions telles que la colère,
                la tristesse, le sentiment d’abandon et d’injustice, la peur et les angoisses, la timidité, le manque
                de confiance en soi, le deuil, les traumatismes, les dépendances, la honte, l’insomnie, la
                jalousie, la rancune, le manque de motivation etc
              </p>
              <p>
                L'EFT fait partie des thérapies dites “brèves” car ils permet en effet de raccourcir
                considérablement la durée d’un processus de traitement et de suivi dès lors qu’il y a une prise
                de conscience de ce qu’il faut rééquilibrer en soi.
              </p>

              <p>
                Il s’agit d’une méthode douce qui peut être pratiquée sur les adultes comme les enfants y
                compris les plus jeunes. Par ailleurs, il n’y a aucune contre indication pour l’utilisation de cette méthode, en revanche il convient de
                rappeler qu’en aucun cas elle ne se substitue à un traitement médical quel qu’il soit.
              </p>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>