<div class="modal fade modals-common" 
  id="generalInfo" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="infoCovidModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="infoCovidModalLabel">Information</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Les consultations reprennent à compter du <b>3 Octobre 2022</b>.
            </p>
            <p>
              <b>Attesntion</b>: elles se feront <b>à distance</b> via la plate-forme de 
                <a 
                  class="general-information-link"
                  title="Prendre rendez-vous"
                  id="doctolibLinkFromInformationModal"
                  href="https://www.doctolib.fr/psychologue/toulouse/godefroy-lolita?utm_campaign=website-button&amp;utm_source=godefroy-lolita-website-button&amp;utm_medium=referral&amp;utm_content=option-3&amp;utm_term=godefroy-lolita" 
                  target="_blank"
                >Doctolib</a>
                uniquement.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>