<div class="modal fade modals-common" 
  id="infoCovid" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="infoCovidModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="infoCovidModalLabel">Info COVID-19</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Suite aux annonces du gouvernement le 29/10/2020, je vous informe que mon cabinet <b>reste ouvert</b> pendant cette période de confinement.
            </p>
            <p>
              Pour ceux qui le souhaitent, des consultations à distance sont possibles. Il vous suffit de:
              <br>
              - me contacter par téléphone ou email
              <br>
              ou
              <br>
              - prendre rdv via Doctolib en me précisant par email votre souhait de réaliser la séance à ditance.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>