<div class="modal fade modals-common" id="presentation" tabindex="-1" role="dialog" aria-labelledby="presentationModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="profile-photo">
            </div>
          </div>
          <div class="modal-body">
            <p>
              Aussi loin que je me souvienne, je me suis toujours intéressée aux autres, à chaque personne
              rencontrée et à son histoire singulière. C’est donc très naturellement que j’ai décidé de suivre des études
              de psychologie à la FAC. J’ai obtenu ma Licence à l’Université de Paris Nanterre où j’ai choisi d’étudier
              la psychologie clinique et le développement de l’enfant en parallèle. Puis j’ai obtenu mon Master de
              « psychologie clinique : psychopathologique, interculturel et psychanalytique » ainsi que mon titre de
              psychologue à l’Université Jean Jaurès à Toulouse.
            </p>
            <p>
              Je me suis spécialisée notamment dans la prise en charge du traumatisme psychique. Afin, par
              exemple, de pouvoir donner du sens à un évènement de vie dramatique ou violent et ainsi apprendre à
              vivre avec sans se sentir empêché d’avancer.
            </p>
            <p>
              Je me suis également formée à certaines pratiques énergétiques, notamment le Reiki qui me
              permet de travailler le rapport au corps et d’appréhender ainsi une vision holistique, c’est-à-dire globale,
              de chacun. Ma pratique prend en compte, la psyché ainsi que le corps, l’esprit, l’histoire de vie et de
              famille qui font d’une personne, un être à part et singulier.
            </p>
            <p>
              J’ai à cœur de travailler particulièrement sur les rapports intra-familiaux, comment comprendre, ajuster,
              voire réparer le lien parent enfant et aborder l’art de la communication afin d’apaiser les conflits. Je
              propose également aux femmes enceintes un accompagnement pour cette période si particulière qu’est
              la grossesse ainsi qu’un accompagnement post-natal.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>