<div class="modal fade modals-common" 
  id="reiki" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="reikiModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="reikiModalLabel">Le Réiki</h1>
            </div>
          </div>
          <div class="modal-body">
            <div>
              Mon Réiki wesh toi
              <br>
              <br>
              verticalAlignment=""
              Je Lolita et je suis la plus forte weshv

              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              <br>
              <br>
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte weshJe Lolita et je suis la plus forte wesh
              Je Lolita et je suis la plus forte wesh
            </div>
            <!-- page images start -->
            <div class="about-section-images-carousel owl-carousel">
                <div class="about-section-img">
                    <img alt="Soin Réiki sur femme enceinte" src="assets/img/reiki/reiki-homme.jpg">
                </div>
                <div class="about-section-img">
                    <img alt="Soin Réiki sur homme adulte" src="assets/img/reiki/reiki-femme-enceinte.jpg">
                </div>
            </div>
            <!-- page images end -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>