<div class="modal fade modals-common reiki-modal" 
  id="reiki" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="reikiModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="reikiModalLabel">Le Reiki</h1>
            </div>
          </div>
          <div class="modal-body">
            <div>
              <p class="reiki-signification">
                <b>REI</b> signifie: l’énergie vitale universelle.
              </p>
              <p class="reiki-signification reiki-signification__ki">
                <b>KI</b> signifie: notre propre énergie vitale. Cette dernière prend sa source elle-même du REI. C’est l’énergie
                qui est tout ce qui vit.
              </p>
              <p>
                Le Reiki est une technique thérapeutique naturelle par imposition des mains qui a des racines indiennes
                vieilles de plusieurs millénaires. Il a voyagé et est arrivé au Japon où il a été par la suite, redécouvert au
                XIXème siècle par le Dr Mikao Usui puis Madame Takata qui l’a ensuite introduit en Occident sous la
                forme que l’on connait aujourd’hui.
              </p>
              <p class="reiki-capabilities">
                Le Reiki permet entre autre:
                <ul>
                  <li class="li-list-elt">De fortifier le corps et l’esprit</li>
                  <li class="li-list-elt">De restaurer l’harmonie et le bien être en chacun</li>
                  <li class="li-list-elt">La rééquilibration de la circulation des énergies dans le corps</li>
                  <li class="li-list-elt">De dissoudre les blocages et le stress accumulé</li>
                  <li class="li-list-elt">Une profonde relaxation</li>
                </ul>
              </p>
             
              <p>
                <b>NB : Bien que le Reiki puisse renforcer un traitement il ne se substitue en aucun cas à ce dernier,
                il sera alors envisagé comme une pratique complémentaire.</b>
              </p>
            </div>
            <!-- page images start -->
            <div class="about-section-images-carousel owl-carousel">
                <div class="about-section-img">
                    <img alt="Soin Réiki sur femme enceinte" src="assets/img/reiki/reiki-homme.jpg">
                </div>
                <div class="about-section-img">
                    <img alt="Soin Réiki sur homme adulte" src="assets/img/reiki/reiki-femme-enceinte.jpg">
                </div>
            </div>
            <!-- page images end -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>