<div class="modal fade modals-common" 
  id="visualisation" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="visualisationModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-overlay"></div>
            <div class="label-container">
              <h1 id="visualisationModalLabel">Soin énergétique par la visualisation</h1>
            </div>
          </div>
          <div class="modal-body">
            <p>
              Grâce à la parole et l’écoute du thérapeute ou votre propre introspection, vous avez peut être compris exactement où vous en êtes et pourquoi.
              Vous avez eu les prises de conscience nécessaires à cela et c’est déjà un beau cheminement en soi, parfois cela suffit à un mieux être, à régler 
              ce qui posait problème dans votre vie personnelle, dans une relation etc. Mais parfois la thérapie par les mots atteint ses limites, de même que 
              tout seul, même avec une excellente capacité d’analyse on ne peut pas tout régler, on a besoin d’en passer par autre chose que le mental. 
            </p>
            <p>
              Avec cette approche de soin sur mesure, je vous accompagne dans un voyage en vous même, à la découverte de votre inconscient et de vos propres 
              ressources pour libérer vos blocages et vous aider à surmonter vos maux. Ainsi, chaque séance est unique, et votre inconscient nous mène là 
              où il a besoin de se rendre selon votre intention posée pour la séance. Parfois une seule séance suffit, parfois il en faut plusieurs, il 
              s’agit de s’ajuster et de respecter votre rythme et votre temporalité afin de garantir un résultat bénéfique, stable et durable.
            </p>
            <p>
              Ce soin peut par exemple, nous mener dans votre corps, dans le but de soulager, libérer des tensions, des douleurs ou autre. Il vous amène 
              parfois au contact de certaines parts de vous même, comme votre “enfant intérieur”, des parts de vous, blessées ou encore laissées de coté 
              et permet une réconciliation et une réunification de ces parts de vous. Lorsque le contexte s’y prête, c’est parfois l’occasion également 
              d’aller du côté de votre système familial car il arrive que ce qui vous bloque dans la vie se répète sous forme de schéma récurent , et
              que cela prenne sa source dans votre transgénérationnel, c’est à dire dans ce qui se transmet de génération en génération dans 
              l’inconscient de votre famille.
            </p>
            <p>
              Le soin énergétique par la visualisation permet une approche holistique, globale de la personne que vous êtes et des systèmes desquels vous faites partis.
              Nous sommes des êtres reliés les uns aux autres et parfois pour se guérir soi même, nous devons aller guérir et chérir les liens quels qu’ils soient, qui 
              nous unissent aux autres et au monde.
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>