.section-general {

    .general-section-subtitle {
        padding: 0;
        padding-bottom: 15px; 
        text-align: center;

        .section-all-subtitle-first {
            font-size: 27px;
        }

        .section-all-subtitle-author {
            font-size: 13px;
        }
    }
    .general-hover {
        &:hover {
            cursor: pointer;
        }
        .general-img {
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
    .modal {

        .modal-header {
            border-bottom: none; 

            .modal-title {
                color: #EC4940 ;
                font-weight: 600;
                text-align: center;
            }
        }
        .modal-body {
            color: rgba(0,0,0,.9);
        }
        .modal-footer {

            border-top: none;
            .btn-outline {
                background: transparent;
                border: 1px solid rgba(0, 0, 0, .8);
                padding: 10px;
                color: rgba(0, 0, 0, .8);
            }
        }
    }
}