.section-pricing {
    @media screen and (max-width: 768px) {
        .section-all-subtitle {
            padding: 59px 15px 40px 15px;
        }
        .pricing-information {
            .divider-post-pricing:nth-child(3) {
                height: 26px;
            }
        }
    }
    .pricing-information,
    .pricing-form-container,
    .pricing-information .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .pricing-form-container {
        #pricing-form {
            .success {
                padding: 0 0 30px 0 !important;
                font-weight: 800 !important;
            }
            .pricing-loader {
                margin-top: 15px;
                display: none;
            }
        }
    }

    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        height: 230px;

        .caption {
            padding: 9px;
            color: #333;

            sup {
                font-size: 10px;
                font-weight: normal;
            }

            .header-container {
                border-bottom: 1px solid rgba(0,0,0, 0.2);
                margin-bottom: 5px;
                height: 70px;
                h3 {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }
            p > span {
                font-weight: bold;
            }
        }
    }

}